{% extends 'visamap/layout.html' %}

{% block content %}
    <main>
        <div id="countrySelectionContainer">
            <div id="originContainer">
                <label for="destCountry">Select destination country</label>
                <select id="destCountry" class="countrySelection">
                    <option value="0" selected>-- Select a Country --</option>
                    {% for country in country_list %}
                        <option value="{{ country.formatted_code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>

                <label for="origCountry">Select country of origin</label>
                <select id="origCountry" class="countrySelection">
                    <option value="0" selected>-- Select a Country --</option>
                    {% for country in country_list %}
                        <option value="{{ country.formatted_code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>

                <div id="visaDetail">

                </div>

                <div id="mapLegend">
                    <div><div class="legendColor" style="background-color: blue;"></div> Destination country</div>
                    <div><div class="legendColor" style="background-color: red;"></div> Visa required</div>
                    <div><div class="legendColor" style="background-color: green;"></div> Visa not required</div>
                    <div><div class="legendColor" style="background-color: yellow;"></div> Visa on arrival</div>
                    <div><div class="legendColor" style="background-color: gray;"></div> Other</div>
                    <div><div class="legendColor" style="background-color: white;"></div> No data found</div>
                </div>

            </div> <!-- END OF originContainer -->
            
            <div id="worldMap">
                <span id="mapInfo">Select a country for details</span>
                <div id="vmap" style="width: 600px; height: 400px;"></div>
            </div> <!-- END OF worldMap -->
            
        </div> <!-- END OF countrySelectionContainer -->
        
    </main>
{% endblock content %}

{% block custom_js %}
{% load static %}
<script type="text/javascript" src="{% static "js/visas_by_destination.js" %}"></script>
{% endblock custom_js %}